/* Icons */
.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.125em;
    fill: currentColor;
    display: inline-block;
}

/* Search icon */
.icon-search {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.8-57.2 128-128 128z'/%3E%3C/svg%3E") no-repeat center center;
    background-size: contain;
}

/* List icon */
.icon-list {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M88 48C101.3 48 112 58.75 112 72V120C112 133.3 101.3 144 88 144H40C26.75 144 16 133.3 16 120V72C16 58.75 26.75 48 40 48H88zM480 64C497.7 64 512 78.33 512 96C512 113.7 497.7 128 480 128H192C174.3 128 160 113.7 160 96C160 78.33 174.3 64 192 64H480zM480 224C497.7 224 512 238.3 512 256C512 273.7 497.7 288 480 288H192C174.3 288 160 273.7 160 256C160 238.3 174.3 224 192 224H480zM480 384C497.7 384 512 398.3 512 416C512 433.7 497.7 448 480 448H192C174.3 448 160 433.7 160 416C160 398.3 174.3 384 192 384H480zM112 232C112 218.7 101.3 208 88 208H40C26.75 208 16 218.7 16 232V280C16 293.3 26.75 304 40 304H88C101.3 304 112 293.3 112 280V232zM88 368C101.3 368 112 378.7 112 392V440C112 453.3 101.3 464 88 464H40C26.75 464 16 453.3 16 440V392C16 378.7 26.75 368 40 368H88z'/%3E%3C/svg%3E") no-repeat center center;
    background-size: contain;
}

/* Spell check icon */
.icon-spell-check {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M152 96C103.4 96 64 135.4 64 184L64 352C64 369.7 78.3 384 96 384C113.7 384 128 369.7 128 352L128 288L192 288L192 352C192 369.7 206.3 384 224 384C241.7 384 256 369.7 256 352L256 184C256 135.4 216.6 96 168 96L152 96zM192 224L128 224L128 184C128 170.7 138.7 160 152 160L168 160C181.3 160 192 170.7 192 184L192 224zM336 96C318.3 96 304 110.3 304 128L304 352C304 369.7 318.3 384 336 384L408 384C456.6 384 496 344.6 496 296C496 272.4 486.7 251 471.6 235.2C481.9 220.8 488 203.1 488 184C488 135.4 448.6 96 400 96L336 96zM400 208L368 208L368 160L400 160C413.3 160 424 170.7 424 184C424 197.3 413.3 208 400 208zM368 320L368 272L408 272C421.3 272 432 282.7 432 296C432 309.3 421.3 320 408 320L368 320zM601 404C612 390.2 609.8 370.1 596 359C582.2 347.9 562.1 350.2 551 364L445.3 496.1L406.6 457.4C394.1 444.9 373.8 444.9 361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7L425.3 566.7C431.7 573.1 440.6 576.5 449.7 576C458.8 575.5 467.2 571.1 472.9 564L601 404z'/%3E%3C/svg%3E") no-repeat center center;
    background-size: contain;
}
